html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0; 
}



.formContentContainer {
    flex: 1;
    width: 860px;
    padding-bottom: 30px;
    padding-inline: 30px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: antiquewhite;
    box-sizing: border-box;
}

.formHeader {
    width: 100%;
    flex: 1;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.tipoCargaContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
}


.tipoCargaContainer label {
    border-bottom: 1px solid black;
    margin-bottom: 10px;
}

.tipoCargaContainer select{
    appearance: none; /* Elimina el estilo nativo */
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #f0f0f0; 
    border: 2px solid #ccc; 
    border-radius: 8px; 
    padding: 10px 15px;
    font-size: 16px;
    font-weight: 500;
    color: #333;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease; /* Transición suave */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    /* background-image: url('https://www.svgrepo.com/show/2046/down-arrow.svg'); */
    background-repeat: no-repeat;
    background-position: right 15px center;
    background-size: 15px;
  }
  
  .tipoCargaContainer select:focus {
    border-color: #007bff; /* Color de borde cuando está en foco */
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.5); /* Sombra al hacer focus */
  }
  
  .tipoCargaContainer select:hover {
    background-color: #e6e6e6; /* Color de fondo cuando se hace hover */
  }
  
  .tipoCargaContainer select option {
    background-color: #fff; /* Color de fondo del dropdown */
    color: #333; /* Color de texto del dropdown */
    padding: 10px;
  }