html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3f3f3;
}

.mainBtn {
  background-color: #0077b6;
  color: white;
  border: none;
  padding: 0.75rem 1.5rem;
  width: 100%;
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 300ms ease;
}

.mainBtn:hover {
  background-color: #00b4d8;
  /* Color de hover del botón */
}


.submitBtn {
  background-color: #caf0f8;
  color: #0077b6;
  font-weight: bold;
}

.submitBtn:hover {
  box-shadow: #03045e;
  font-weight: 400;
  background-color: white;
  color: black;
}

.subtitle {
  font-size: 30px;
  margin-top: 0px;
  margin-bottom: 30px;
  color: #03045e;
  /* Color del texto del subtítulo */
}

.formContentContainer {
  flex: 1;
  width: 400px;
  padding-bottom: 30px;
  padding-inline: 30px;
  border-radius: 15px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-color: #90e0ef;
  /* Color de fondo de la tarjeta */
  box-sizing: border-box;
}

.formHeader {
  width: 100%;
  border-bottom: 1px solid #03045e;
  margin-bottom: 20px;
  padding-bottom: 20px;
  font-size: 34px;
  text-align: center;
  color: #03045e;
}

.tipoCargaContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.tipoCargaContainer label {
  margin-bottom: 10px;
  color: #03045e;
}


.formStepsContainer {
  gap: 30px;
  flex: 1;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
}

.domicilioContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fieldContainer {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding: 5px;
}

.fieldLabel {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  color: #03045e;
  margin-bottom: 5px;
}

.fieldContainer input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #00b4d8;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s ease;
}


select {
  background-color: #caf0f8;
  border: 2px solid #00b4d8;
  border-radius: 8px;
  padding: 10px 15px;
  font-size: 16px;
  font-weight: 500;
  color: #03045e;
  outline: none;
  width: 100%;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.tipoCargaContainer select {
  margin-bottom: 20px;
}



.navButtonsContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-direction: row;
  gap: 10px;
  margin: 10px;
}

.adjuntarFotosContainer {
  justify-content: space-between;
  display: flex;
  align-items: center;
  flex-direction: column;
}


.adjuntarFotosContainer h3 {
  font-size: 20px;
  margin-top: 0px;
}

/* Estilo del Pop Up */
.popup {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  position: relative;

}

.close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 20px;
  cursor: pointer;
  color: black;
}


.imageInput {
  display: flex;
  width: 90%;
  padding: 10px;
  font-size: 16px;
  color: #333;
  background-color: #f1f1f1;
  border: 2px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  transition: border-color 0.3s ease;
}

.imageInput:hover {
  border-color: #888;
}

.imageInput:focus {
  outline: none;
  border-color: #00b4d8
}

.imageInput::file-selector-button {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #000;
  background-color: #ccc;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.imageInput::file-selector-button:hover {
  background-color: white;
}



.errorField {
  border: 1px solid red;
}


.disabledBtn {
  background-color: rgb(210, 210, 210);
}